:root {
    --primary-color: #e50914;
    --dark-color: #141414;
    --light-color: #f4f4f4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ariel', sans-serif;
    /*antialiased : lissage des polices en utilisant des nuances de gris*/
    -webkit-font-smoothing: antialiased;
    background: #0000;
    color: #999;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    color: #fff;
    text-decoration: none;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}

.showcase {
    width: 100%;
    height: 93vh;
    position: relative;
    background: url("img/background.jpg") no-repeat center center / cover;
}

.showcase-top{
    position: relative;
    height: 90px;

}
.showcase-top img{
    width: 170px;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.showcase-top a{
position: absolute;
top: 50%;
right: 0;
transform: translate(-50%,-50%);
}
/*buttons*/